#main {
    height:90%;
    /* border:1px solid black; */
    width:50%;
    place-self: center;
}
#subMain {
    height:98%;
    width:95%;
    margin-top: 1.5%;
    background-color: white;
    box-shadow:0px 20px 30px rgba(37, 37, 37, 0.747);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.half {
    width: 95%;
    height:45%;
    place-self: center;
}
.otherTitle {
    font-size: 15px;
    font-weight: 600;
    font-family: helvetica;
    margin-left: 2.5%;
    color:#7385b5;
}

#otherTop {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border:0px;
}
.otherLocations {
    width:100%;
    height:14%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subBox {
    display: flex;
    flex-direction: row;
}
.olIcon {
    border:1px solid;
    height:17px;
    width:30px;
    margin-right: 5px;
}
.olTxt, .olW {
    font-family: helvetica;
    font-weight: 600;
    font-size: 15px;
    color:rgb(106, 125, 143);
}
.wI {
    font-family: helvetica;
    color:#7385b5;
    font-size: 15px; 
}
@media (max-width:1024px) {
    #main {
        display:none;
    }
}